body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.proyecto {
    border: 3px solid #C0B7B1;
    border-radius: 3%;
    margin: 2%;
    width: 30vw;
}

.proyecto a {
    font-weight: 500;
}

.proyecto a:link {
    color: #7A7265;
}

.proyecto a:visited {
    color: #7A7265;
}

.proyecto a:hover {
    color: #C0B7B1;
}


.proyecto li {
    list-style-type: none;
    margin: 5% 0;
}

.proyecto img {
    max-width: 250px;
    display: block;
    margin: 0 auto;
}