* {
  margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

h1 {
  margin: 15px auto;
  text-align: center;
}

#lang_switch {
  max-width: 300px;
  min-height: 30px;
  margin: 1vh auto;
  border: 2px solid #000;
  border-radius: 3%;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: #D4A418;
  opacity: 0.5;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proyecto {
  padding: 5px;
  border: 2px solid #000;
  border-radius: 3%;
  margin: 2vw;
  width: 85vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-align: center;
}

.proyecto ul {
  padding-left: 0;
}

.proyecto ul li a {
  font-weight: bold;
  font-size: 1rem;
}

.proyecto a:link {
  color: #000;
}

.proyecto a:visited {
  color: #000;
}

.proyecto a:hover {
  color: #c0b7b1;
}

.proyecto ul li .code {
  font-weight: normal;
  font-size: 0.9rem;
}

.proyecto li {
  list-style-type: none;
  margin: 5% 0;
}

.proyecto img {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

footer {
  font-size: 9px;
}

@media (min-width: 768px) {
  .proyecto {
    margin: 2vw;
    width: 40vw;
  }

  @media (min-width: 1440px) {
  .proyecto {
    margin: 2vw;
    width: 20vw;
  }
}

}
